body {
    background-color: #121213;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#mainPage {
    text-align: center;
    color: #fff;
    padding: 20px;
}

#mainPage h1 {
    font-size: 5em;
    margin-bottom: 10px;
}

#mainPage p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#mainPage button {
    background-color: #4CAF50; /* Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#mainPage button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#mainPage .green {
    color: #4CAF50; /* Green */
}

#mainPage .yellow {
    color: #FFD700; /* Yellow */
}

#mainPage .red {
    color: #FF4D4D; /* Red */
}

#gamePage {
    display: grid;
    grid-template-areas:
        "top-box top-box top-box"
        "left-box game-container right-box";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    width: 100vm;
}

.top-box {
    grid-area: top-box;
    /* Add styles for the top box */
}

.game-container {
    grid-area: game-container;
    /* Styles for the game container */
    text-align: center;
}

.left-box {
    grid-area: left-box;
    /* Add styles for the left box */
}

.right-box {
    grid-area: right-box;
    /* Add styles for the right box */
}

#gamePage .game-container {
    text-align: center;
}

#gamePage .word-row {
    display: flex;
    margin-bottom: 10px;
}

#gamePage .letter-square {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 1.2em;
    color: #ffff;
    text-decoration: none;
    background-color: #333;
}

#gamePage .letter-square.incorrect {
    animation: shake 0.5s ease-in-out;
    background-color: #FF4D4D; /* Red */
    color: #fff; /* set text color for visibility */
}

#gamePage .letter-square.correct-position {
    background-color: #4CAF50; /* Green */
    color: #fff; /* set text color for visibility */
}

#gamePage .letter-square.correct-letter {
    background-color: #FFD700; /* Amber */
    color: #fff; /* set text color for visibility */
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 50%, 80% {
        transform: translateX(-5px);
    }
    40%, 60% {
        transform: translateX(5px);
    }
}
